.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.ButtonGroup {
  width: 150px;
  height: 40px;
  letter-spacing: 0.5px;
  background-color: #e0314b;
  color: white;
  font-size: 32px;
  border: 1.5px solid #e0314b;
  border-radius: 50px;
  cursor: pointer;
}

.active {
  background-color: rgb(25, 26, 24);
  border: 1.5px solid rgb(25, 26, 24);
}